.welcomeDisplay {
  max-width: 280px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.mainNav {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.mainLogo {
  width: 104px;
  height: 51px;
}
.burgerMenuLogo {
  width: 20px;
  height: 16px;

  align-self: center;
}
.welcomeDisplayArticle {
}

.wrapperWelcomeDisplayText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  max-width: 100%;
}

.welcomeDisplayHeading {
  padding-top: 40px;

  font-size: 0.6rem;
  font-weight: 700;
  line-height: 1rem;

  overflow: hidden;

  color: var(--subColorText);
}
.text-center {
  text-align: center;
}
.welcomeDisplayText {
  line-height: 1.75rem;
  font-size: 1.5rem;

  margin: 10px 10px;
  padding: 10px 0;

  overflow: hidden;
}

.welcomeDisplaySubText {
  font-weight: 500;
  color: var(--subColorText);
  padding: 20px 0 50px 0;
  overflow: hidden;
}
.welcomeDisplayHeading::first-letter,
.welcomeDisplayText::first-letter,
.welcomeDisplaySubText::first-letter {
  text-transform: uppercase;
}

.wrapperButton{
  display: flex;
  flex-direction: column;
}

.welcomeDisplayBtn {
  width: 236px;
  height: 68px;

  padding: 16px 0;
  margin: 5px;

  border-radius: 30px;

  overflow: hidden;

  color: var(--mainColor);
  background-color: #fafafa;
}

.welcomeDisplayBtn:hover,
.welcomeDisplayBtn:focus {
  background-color: var(--mainColor);
  color: #fafafa;
}
@media screen and (min-width:576px){
  .welcomeDisplay {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .mainNav{
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .welcomeDisplay {
    max-width: 100%;
  }
  .mainNav {
    padding: 15px 15px;
  }

  .welcomeDisplayArticle {
    
    background-image: url("/home/vitalik/big-practic/assets/img/Rectangle 48.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 145px;
  }
  .textColor {
    color: var(--textColorWelcomeText);
  }

  .welcomeDisplayHeading {
    font-size: 1rem;
  }
  .welcomeDisplayText {
    color: #ffffff;
    font-size: 2rem;
    line-height: 2rem;
  }

  .wrapperButton{
    flex-direction: row;
  }
}

@media screen and (min-width:1024px){
  .welcomeDisplay {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .welcomeDisplayHeading {
    line-height: 4rem;
  }
}
@media screen and (min-width:1440px){
  .welcomeDisplay {
    max-width: 100%;
  }
  .welcomeDisplayText {
    max-width: 936px;
    line-height: 3rem;
  }
}
