.welcomeDisplay {
  max-width: 100%;
}
.mainNav {
  max-width: inherit;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}
.mainLogo {
  width: 104px;
  height: 51px;
}
.burgerMenuLogo {
  width: 20px;
  height: 16px;

  align-self: center;
}
.welcomeDisplayArticle{
  background-image: url("assets/img/Rectangle 48.png");
  background-repeat: no-repeat;
  background-size: cover;
  background: #171010 60 %;

}

.wrapperWelcomeDisplayText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  max-width: 100%;
  ;
}

.welcomeDisplayHeading {
  padding-top: 50px;

  font-size: 0.6rem;
  font-weight: 700;
  line-height: 1rem;

  color: var(--subColorText);
}
.text-center {
  text-align: center;
}
.welcomeDisplayText {
  line-height: 1.75rem;
  font-size: 1.5rem;

  margin: 10px 10px;
  padding: 10px 0;
}

.welcomeDisplaySubText {
  font-weight: 500;
  color: var(--subColorText);
  padding: 27px 0 50px 0;
}

.welcomeDisplayBtn {
  width: 236px;
  height: 68px;

  padding: 16px 0;
  margin:5px;

  border-radius: 30px;

  color: var(--mainColor);
  background-color: #fafafa;
}

.welcomeDisplayBtn:hover, .welcomeDisplayBtn:focus{
  background-color: var(--mainColor);
  color:#fafafa;
}
