.downloadApps {
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--backgroundColorDownloadSection);;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  padding-top: 120px;
}
.downloadHeading {
  width: inherit;
  padding: 0px, 60px, 20px, 60px;

  font-size: 1.65rem;
  line-height: 2.35rem;
  font-weight: 700;
}
.downloadText {
  line-height: 1.6rem;
  color: #bdbdbd;

  padding: 0px, 35px, 60px, 30px;
  padding-bottom: 60px;
}
.downloadWrapperButton {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
}
.appStoreBtn {
  width: 137px;
  height: 64px;
  margin-right: 8px;

  
}
.playStoreBtn {
  width: 186px;
  height: 60px;

  margin-left: 8px;

  
}
.downloadWrapperButton > * {
  color: white;
  font-size: 0.6rem;
  line-height: 1.15rem;
  font-weight: 700;
  border-radius: 10px;
  border-color: white;
  background-image: none; 
  background: transparent;
}

.downloadWrapperButton > *:hover,
.downloadWrapperButton > *:focus {
  background-color: var(--mainColor);
}
@media screen and (min-width:768px){
  .downloadApps{ 
  background-image: url("../../img/background_image_for_download_section.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
  }
  .downloadWrapperButton {
    padding-bottom: 50px;
  }
  
}
