.informationSection{
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.infotmationCardWrapper{
  text-align: center;
  
  padding:0,30px,0,30px;
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.infoSectionHeading{
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;

  padding: 115px 0 50px 0;
  margin-bottom: 65px;
  border-bottom: 3px solid #E4E4E4;
  
}

.headingInformation{
  font-weight: 700;
  line-height: 1.5rem;
  color: var(--mainColor);
  
  
  padding-bottom:40px ;
}

.subHeadingInformation{
  font-weight: 700;
  font-size: 1.66rem;
  line-height: 2rem;

  

  padding-bottom: 50px;

  color: #252B42;
}

.textInformation{
  font-weight: 500;
  line-height: 1.5rem;

  color:var(--subColorText)

}
.infoPhoneImg{
  
  width: 100%;
   padding-left: 25px; 

} 
@media screen and (min-width:576px){
  .informationSection{
    max-width: 100%;
  }
  .infoSectionHeading{
    width: 100%;
  }
  
  

}
@media screen and  (min-width:768px){
  .informationSection{
    max-width: 100%;
   display: inline-block;
   
  }
  .infotmationCardWrapper{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    
    
    flex-wrap: nowrap;
    
  }
  .reverse{
    flex-direction: row-reverse;
    padding-left: 15px;
  }
  
  .headingInformation{
    padding-bottom: 20px;
  }
  .subHeadingInformation{
    padding-bottom: 25px;
  }
  .padingLeft{
    padding-left: 30px;
  }
}
@media screen and (min-width: 992px){
  .informationSection{
    margin-top: 300px;
  }
  
}
