.footerLogo{
  display: none;
}
.socialLogoWrapper{
  box-sizing: border-box;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 67px 100px 15px 80px;
}

.socialLogoImgs{
  width: 33px;
  height: 33px;
}

.mobileVersionText{
  font-family: "Roboto", normal;
  font-weight: 700;
  font-size: 0.5rem;

  text-align: center;

  padding-bottom: 45px;

}

.watermark{
  display: none;
}