 @import "./reser.css";
@import "./bootstrap-grid.css";
@import "./header/header.css";
@import "./imgs_phones/imgs_phones.css";
@import "./info_about_apps/info_about_apps.css"; 
@import "./download_apps/download_apps.css";
@import "./footer/footer.css";

:root{
  --mainColor: #fa4a0c;
  --subColorText: #737373;
  --textColorWelcomeText: #f6f6f6;
  --backgroundColorDownloadSection:  #252B42;
  
  margin: 0 0;

  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  
}
body{
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
}


