.howTheAppsWorkAndImgPhones {
  
}

.imgWrapperLeft {
  position: relative;
  max-width: 320px;

  object-position: center;

  top: -125px;
  left: -60px;
  z-index: 3;
}
.imgWrapperRight {
  position: relative;
  max-width: 150px;

  z-index: 2;
  object-position: center;
  
}
.imgPhoneLeft,
.imgPhoneRight {
  position: absolute;
  max-width: inherit;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  object-fit: cover;
  overflow: hidden;
}
